<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Craig Wann</h2>

      </div>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Portfolio</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "login", new_user_session_path %></li>
              <li><%= link_to "logout", destroy_user_session_path, :method => :delete %></li>
              <li><%= link_to "Admin", rails_admin_path  %></li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>





        <% if can? :manage, User %>
          <div class="alert alert-success" role="alert">
          	<p>signed in as <strong>superadmins</strong> and/or <strong>supervisors</strong>! via CanCanCan</p>
          </div>
        <% end %>




      <% unless flash.empty? %>
           <script type="text/javascript">
                <% flash.each do |f| %>
      	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      	     	 toastr['<%= type %>']('<%= f[1] %>');
      	   <% end %>
           </script>
      <% end %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

    </div> <!--CONTAINER-->
  </body>
</html>
